/* ------ Globales ----- */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenedor{
    max-width: 100rem;
    margin: 0 auto;
    /* overflow: auto; */
}
.clearfix::after {
    content:'';
    clear: both;
    display: block;
}
@media (max-width: 768px){
    .contenedor{
        max-width: 95%;
    }
}

/* ------ Utilidades ----- */
.space-item{
    margin: 2rem auto;
}
.test{
    background-color: brown;
}

/* ------ Botones ----- */
.boton{
    background-color: var(--green);
    padding: 1rem 6rem;
    color: var(--white);
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}
.boton:hover{
    background-color: var(--green-hover);
}

/* ------ Header ----- */
.site-header{
    padding: 2rem 0 1.5rem;
}
.logo{
    width: 18rem;
}
.logo-texto{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

/* ------ Navegación Responsive ----- */
.barra{
    overflow: hidden;
}
.mobile-menu{
    color: var(--white);
    font-size: 3rem;
    text-align: center;
    display: block;
    padding: 1rem 0;
}
.mobile-menu:hover{
    background-color: var(--complementary); 
}
#nav:target{
    max-height: 80rem;
}
.navegacion-principal{
    max-height: 0;
    transition: .5s;
}
@media (min-width: 768px){
    .navegacion-principal{
        max-height: unset;
    }
    .mobile-menu,
    .cerrar{
        display: none!important;
    }
}

/* ------ Navegación ----- */
.barra{
    background-color: var(--plaz-color);
}
@media (max-width: 768px){
    .navegacion-principal{
        max-width: 100%;
    }
}
.navegacion-principal a{
    color: var(--white);
    display: block;
    text-align: center;
    font-size: 2.2rem;
    padding: 1.5rem;
}
@media (min-width: 768px){
    .navegacion-principal a{
        display: inline-block;
        /* text-align: center; */
        font-size: 1.6rem;
        padding: 1rem;
    }
}
.navegacion-principal a:hover{
    background-color: var(--complementary);
}

/* ------ Contenedores Principal ----- */
@media (min-width: 768px){
    .contenido-principal{
        max-width: 70%;
        float: left;
        line-height: 1.9;
        padding: 0 6rem 0 0;
    }
    .sidebar{
        width: 30%;
        float: right;
    }
}

/* ------ Entradas ----- */
.entrada{
    margin-top: 30px;
}
.entrada img{
    display: block;
}
.entrada h2{
    color: var(--plaz-color);
    display: inline-block;
    margin-bottom: 3rem;
}
@media (min-width: 768px){
    .entrada h2{
        margin-bottom: 0;
    }
    .entrada img{
        width: 300px;
        float: left;
        margin: 1.5rem 30px 1.5rem 0;
    }
}
.entrada p{
    text-align: justify;
}

/* ------ SideBar ----- */
.sidebar ul{
    list-style: none;
    padding: 0;
}
.sidebar ul li{
    /* margin: 2rem; */
    padding: 1rem;
}
.sidebar ul li:hover{
    background-color: var(--plaz-color);
}
.sidebar ul li a{
    font-size: 1.5rem;
}
.sidebar ul li:hover a{
    color: var(--white);
}

/* ------ Footer ----- */
.footer-sitio{
    background-color: var(--plaz-color);
    padding-top: 3rem;
    margin-top: 4rem;
    color: var(--white);
    text-align: center;
}
.footer-sitio h2{
    color: var(--white);
}
.footer-sitio a{
    display: inline-block;
    color: var(--white);
    font-size: 1.3rem;
    padding: 1rem 2rem;
    margin: 1rem 0;
}
.footer-sitio a:hover{
    background-color: var(--complementary);
}
.footer-sitio a:last-of-type{
    margin-right: 0;
}
@media (min-width: 768px){
    .footer-sitio .nosotros{
        float: left;
        width: 30%;
        text-align: left;
    }
    .footer-sitio .menu{
        float: right;
        width: 50%;
        text-align: right;
    }
}
.copyright{
    background-color: var(--relacionar-active);
    /* margin-top: .5rem; */
    margin-bottom: 0;
    padding: 2rem 0;
}